<div class="mapview side-open" ng-class="{'side-open' : ui.side}">
<div class="infobox">
    <div class="side-title">
        <a class="btn btn-primary pull-right" ng-click="toggleSide()"><i class="fa fa-arrows-h"></i></a>
    </div>
    <div class="side-content" ng-if="ui.side && !ui.fade">
        <h2>{{territory.name}}</h2>
        <p>{{territory.description}}</p>
        <button class="btn btn-danger" ng-click="toggleEdit()">Edit</button>
        <hr>
    </div>
</div>

<div class="mapbox">
    <leaflet class="fullmap" ng-class="{faded:ui.fade}" paths="paths" controls='controls'></leaflet>

    </div>
</div>