body{
    padding-top:70px;
}

/* angular ui-bootstrap */
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }


.deepskyblue-text{
    color: deepskyblue;
}

/*



.fullmap{
    position: absolute;
    top:45px;
    bottom:0px;
    left:20px;
    right: 0px;
    width : calc(100%-20px);
    transition: left 1s, opacity 1s;
    opacity: 1;
    
}

.fullmap.faded{
    opacity: 0.5;
}




*/

.mapview {
    display: flex; 
    flex-direction: row;
    position:absolute;
    top:46px;
    bottom:0px;
    left:0px;
    right:0px;
    background-color: red;
}


.infobox{
    flex:0;
    flex-grow: 0.001;
    transition: all 1s;
    background-color: #eee;
    border-right: solid #bbb 2px;
    min-width:40px;
}

.mapbox{
    flex:3;
    transition: width 1s;
    background-color: crimson;
    position:relative;
    
}

.maptoolbar{
    position: absolute;
    top:5px;
    right: 5px;
    z-index: 10000;
}

.side-open > .infobox{
    flex:1;
    flex-grow:1;
    min-width:200px;
}

.side-open > .fullmap{
}

.fullmap {
    position:absolute;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
}


.side-content{
    padding:10px;
}